/*
* BSUIR, Department of Electronics. 2015
* Developed by Kiskin
*
*//* 
    Created on : Mar 25, 2015, 12:21:28 AM
    Author     : Kiskin
*/


#tbBtnNew{
	-fx-graphic: url("icons/NewFile.png");
}

#tbBtnOpen{
	-fx-graphic: url("icons/OpenFile.png");
}

#tbBtnSaveAs{
	-fx-graphic: url("icons/SaveAs.png");
}

#tbBtnSave{
	-fx-graphic: url("icons/Save.png");
}

#tbBtnEditTable{
	-fx-graphic: url("icons/Edit.png");
	
}

#tbBtnShowInput{
	-fx-graphic: url("icons/InChart.png");
}

#tbBtnShowOutput{
	-fx-graphic: url("icons/OutChart.png");

}

