/*
* BSUIR, Department of Electronics. 2015
* Developed by Kiskin
*
*//* 
    Created on : Mar 25, 2015, 12:21:28 AM
    Author     : Kiskin
*/



#tbBtnOpen{
	/*-fx-graphic: url("icons/Icon.jpg");*/
}

#workspace {
	-fx-border-color: #ff0000;
    -fx-border-width: 2px;
	
}
