/*
* BSUIR, Department of Electronics. 2015
* Developed by Kiskin
*
*//* 
    Created on : Apr 8, 2015, 1:18:46 AM
    Author     : Kiskin
*/

#dataPanel .label{
	-fx-font-size: 16pt;
}

#hParam{
	-fx-font-size: 13pt;
}

#dataPanel{
	-fx-background-color: #d0d0d0;
	-fx-border-color: darkgrey;
	-fx-border-width: 3 0 3 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#parametersBox{
	-fx-background-color: #d0d0d0;
	-fx-border-color: darkgrey;
	-fx-border-width: 0 3 0 0;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#hParamHeaderSeparator{
	-fx-background-color: #888888;

	-fx-border-width: 1;
	-fx-border-style: solid;
}